{% extends "base.html" %}

{% block page_content %}
    <div class="sidebar">
    {% block sidebar %}
        <div class="ul-col">
            <ul>
                <br>
                <li><a href="{{ url_for('dashboard.add_list', qs='ProductCode') }}">ProductCode</a></li>
                <li><a href="{{ url_for('dashboard.add_list', qs='ProductName') }}">ProductName</a></li>
                <li><a href="{{ url_for('dashboard.add_list', qs='PayerAccountId') }}">PayerAccountId</a></li>
                <li><a href="{{ url_for('dashboard.add_list', qs='LinkedAccountId') }}">LinkedAccountId</a></li>
                <br>
                <li><a href="{{ url_for('dashboard.add_list', qs='user:Name') }}">user:Name</a> </li>
                <li><a href="{{ url_for('dashboard.add_list', qs='user:Application') }}">user:Application</a> </li>
            </ul>
        </div>
    {% endblock %}
    </div>
{% endblock %}
